<section class="section">
  <div class="banner d-flex justify-center align-center py-24 p-sm-24">
    <h4 class="mr-24 h4 h5-sm mr-sm-16">加入會員取得 9 折優惠</h4>
    <button type="button" class="btn btn-sm btn-dark">
      <p class="label text-md">馬上註冊</p>
    </button>
  </div>
</section>