<footer>
    <div class="footer py-64 py-sm-32 px-sm-12">
      <div class="footer-container d-flex justify-between align-center flex-sm-column justify-sm-start align-sm-start">
        <div class="logo mb-sm-8">
          <a href="./index.html" class="py-12">
            <span class="logo-text">URBNSTEP</span>
            <div class="dot"></div>
          </a>
        </div>
        <ul class="d-flex flex-sm-column">
          <li class="mr-40 mr-sm-0 px-sm-12"><a href="./productList.html" class="py-12">商品列表</a></li>
          <li class="px-sm-12"><a href="./brandStory.html" class="py-12">品牌故事</a></li>
        </ul>
      </div>
      <div class="copyright">
        <div class="copyright-content">
          <p class="p mb-4">Copyright ©2025 URBNSTYLE</p>
          <p class="p">All Rights Reserved.</p>    
        </div>    
      </div> 
    </div>   
  </footer>