<nav class="navbar">
  <div class="container d-flex justify-between align-center py-16 px-12">
    <ul class="d-flex align-center">
      <li class="li logo mr-48">
        <a href="./index.html" class="py-12">
          <span class="logo-text">URBNSTEP</span>
          <div class="dot"></div>
        </a>
      </li>
      <li class="li mr-40 d-sm-none"><a href="./productList.html" class="py-12">商品列表</a></li>
      <li class="li d-sm-none"><a href="./brandStory.html" class="py-12">品牌故事</a></li>
    </ul>    
    <div class="account">
      <a href="./signin.html"><i class="bi bi-person"></i></a>
    </div>
  </div>
</nav>