// 通用樣式
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .d-md-none{
      display: none;
    }
    .d-md-block {
      display: block;
    }
    .d-md-flex {
      display: flex;
    }
    .flex-md-column {
      flex-direction: column;
    }
    .justify-md-start {
      justify-content: flex-start;
    }
    .align-md-start {
      align-items: flex-start;
    }
    .flex-md-wrap {
      flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .d-sm-none{
      display: none;
    }
    .d-sm-block {
      display: block;
    }
    .d-sm-flex {
      display: flex;
    }
    .flex-sm-column {
      flex-direction: column;
    }
    .justify-sm-start {
      justify-content: flex-start;
    }
    .align-sm-start {
      align-items: flex-start;
    }
    .flex-sm-wrap {
      flex-wrap: wrap;
    }
}

// 文字大小及顏色
.display-one {
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
}
.display-two {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}
.h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.label {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.bd-b-1 {
  border-bottom: 1px solid $Neutral300;
}
@media (max-width: 1024px) {
  .h6-lg {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
  }
}
@media (max-width: 768px) {
  .display-md-two {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
  }
  .h1-md {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
  }

  .h2-md {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
  }

  .h3-md {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
  }

  .h4-md {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }

  .h5-md {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  .h6-md {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
  }

  .text-md-sm {
    font-size: 14px;
  }
  .text-md-md {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .display-sm-two {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
  }
  .h1-sm {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
  }

  .h2-sm {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
  }

  .h3-sm {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
  }

  .h4-sm {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }

  .h5-sm {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  .h6-sm {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
  }

  .text-sm-sm {
    font-size: 14px;
  }
}


.text-md {
    font-size: 16px;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.text-white {
    color: $Neutral0;
}

.text-primary-400 {
    color: $Primary400;
}

.text-neutral-500 {
    color: $Neutral500;
}

.text-neutral-600 {
    color: $Neutral600;
}

// margin padding 常用樣式
.mt-32 {
  margin-top: 32px;
}
.mt-64 {
  margin-top: 64px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.mr-8{
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-48 {
  margin-right: 48px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-151 {
  padding-top: 151px;
  padding-bottom: 151px;
}

@media (max-width: 768px) {
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-md-64 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
}

@media (max-width: 576px) {
    .p-sm-12 {
      padding: 12px;
    }
    .p-sm-24 {
      padding: 24px;
    }
    .px-sm-0 {
      padding-left: 0;
      padding-right: 0;
    }
    .px-sm-6 {
      padding-left: 6px;
      padding-right: 6px;
    }
    .px-sm-12 {
      padding-left: 12px;
      padding-right: 12px;
    }
    .py-sm-24 {
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .py-sm-32 {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .py-sm-40 {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .mr-sm-0 {
      margin-right: 0;
    }
    .mr-sm-8 {
      margin-right: 8px;
    }
    .mr-sm-16 {
      margin-right: 16px;
    }
    .mt-sm-0 {
      margin-top: 0;
    }
    .mt-sm-8 {
      margin-top: 8px;
    }
    .mt-sm-16 {
      margin-top: 16px;
    }
    .mb-sm-0 {
      margin-bottom: 0;
    }
    .mb-sm-8 {
      margin-bottom: 8px;
    }
    .mb-sm-12 {
      margin-bottom: 12px;
    }
    .mb-sm-16 {
      margin-bottom: 16px;
    }
    .mb-sm-24 {
      margin-bottom: 24px;
    }
    .mb-sm-32 {
      margin-bottom: 32px;
    }
    .mb-sm-40 {
      margin-bottom: 40px;
    }
}

// 格線系統
.row {
  /*加上負值margin會讓網頁在螢幕縮小時出現X軸，所以要在外層容器加上padding*/
  margin-right: -12px; 
  margin-left: -12px;
}
.col-2 { /*設定兩欄的寬度*/
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 2); /*代表總容器寬度的十二分之二*/
}
.col-3 {
  padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 3);
}
.col-4 {
  padding-left: 12px;
	padding-right: 12px;
  width: calc(100% / 12 * 4);
}
.col-5 {
  padding-left: 12px;
	padding-right: 12px;
  width: calc(100% / 12 * 5);
}
.col-6 {
  padding-left: 12px;
	padding-right: 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding-left: 12px;
	padding-right: 12px;
  width: calc(100% / 12 * 7);
}
.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 10);
} 

// 行列間隔
.column-gap-8 {
  column-gap: 8px;
}
.row-gap-8 {
  row-gap: 8px;
}
@media (max-width: 768px) {
    .col-md-12 {
      padding-left: 12px;
      padding-right: 12px;
      width: calc(100% / 12 * 12);
    }
}
@media (max-width: 576px) {
  .row-sm {
    margin-right: -6px; 
    margin-left: -6px;
  }
  .col-sm-6 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 12 * 6);
  }
  .col-sm-12 {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
  } 
}