$Primary100:#F5FEE7;
$Primary200:#E8FEC5;
$Primary300:#C0FA73;
$Primary400:#57A203;
$Primary500:#477A11;

$Neutral0:#FFFFFF;
$Neutral100:#F8F9FA;
$Neutral200:#E9ECEF;
$Neutral300:#DEE2E6;
$Neutral400:#CED4DA;
$Neutral500:#ADB5BD;
$Neutral600:#6C757D;
$Neutral700:#495057;
$Neutral800:#343A40;
$Neutral900:#212529;

$Danger300:#D74F4F;